@import "token/token";

.m-1 { margin: $spacing-1 }
.m-2 { margin: $spacing-2 }
.m-3 { margin: $spacing-3 }
.m-4 { margin: $spacing-4 }
.m-5 { margin: $spacing-5 }
.m-6 { margin: $spacing-6 }

.m-t1 { margin-top: $spacing-1 }
.m-t2 { margin-top: $spacing-2 }
.m-t3 { margin-top: $spacing-3 }
.m-t4 { margin-top: $spacing-4 }
.m-t5 { margin-top: $spacing-5 }
.m-t6 { margin-top: $spacing-6 }

.m-b1 { margin-bottom: $spacing-1 }
.m-b2 { margin-bottom: $spacing-2 }
.m-b3 { margin-bottom: $spacing-3 }
.m-b4 { margin-bottom: $spacing-4 }
.m-b5 { margin-bottom: $spacing-5 }
.m-b6 { margin-bottom: $spacing-6 }

.m-l1 { margin-left: $spacing-1 }
.m-l2 { margin-left: $spacing-2 }
.m-l3 { margin-left: $spacing-3 }
.m-l4 { margin-left: $spacing-4 }
.m-l5 { margin-left: $spacing-5 }
.m-l6 { margin-left: $spacing-6 }

.m-r1 { margin-right: $spacing-1 }
.m-r2 { margin-right: $spacing-2 }
.m-r3 { margin-right: $spacing-3 }
.m-r4 { margin-right: $spacing-4 }
.m-r5 { margin-right: $spacing-5 }
.m-r6 { margin-right: $spacing-6 }

.m-x1 { margin-left: $spacing-1; margin-right: $spacing-1 }
.m-x2 { margin-left: $spacing-2; margin-right: $spacing-2 }
.m-x3 { margin-left: $spacing-3; margin-right: $spacing-3 }
.m-x4 { margin-left: $spacing-4; margin-right: $spacing-4 }
.m-x5 { margin-left: $spacing-5; margin-right: $spacing-5 }
.m-x6 { margin-left: $spacing-6; margin-right: $spacing-6 }

.m-y1 { margin-top: $spacing-1; margin-bottom: $spacing-1 }
.m-y2 { margin-top: $spacing-2; margin-bottom: $spacing-2 }
.m-y3 { margin-top: $spacing-3; margin-bottom: $spacing-3 }
.m-y4 { margin-top: $spacing-4; margin-bottom: $spacing-4 }
.m-y5 { margin-top: $spacing-5; margin-bottom: $spacing-5 }
.m-y6 { margin-top: $spacing-6; margin-bottom: $spacing-6 }

// MQ variants

.m-md-b5 {
	@include md {
		margin-bottom: $spacing-5
	}
}