<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/scss/compile">
	</head>
	<body>
		{% include 'elements/layout-overlay/layout-overlay.twig' with {variant: ''} %}
		{% block header %}{% include 'elements/header/header.twig' %}{% endblock %}
		{% block main %}{% endblock %}
		{% block footer %}{% include 'elements/footer/footer.twig' %}{% endblock %}
	</body>
</html>