<!DOCTYPE html>
<html>
    {% include "head.twig" %}
    <body>
        <div class="default-background">
            {% include 'nav.twig' %}
            <p style="margin: 20px"><a href="/">← terug naar overzicht</a></p>
            <header class="default-color content-header">
                <h1>Algoritmische Toepassing Aanmelden</h1>
                <p>Meld je algoritmische toepassing aan.</p>
            </header>

            <section class="sheet">
                <h2>Bepaal de noodzaak voor het aanmelden van deze toepassing</h2>
                <p>1. Wordt de toepassing ingezet in een maatschappelijk domein?</p>
                <p>2. Wordt gebruik gemaakt van een vorm van AI-technologie?</p>
                <p>3. Heeft de toepassing een hoge mate van autonomie?</p>
                <p>4. Wordt de toepassing ingezet in een complexe omgeving?</p>
                <p>5. Wordt gebruik gemaakt van gevoelige gegevens over personen?</p>
                <p>6. Neemt de toepassing beslissingen die natuurlijke of rechtspersonen in aanzienlijke mate treffen dan wel rechtsgevolgen voor hen hebben?</p>
                <p>7. Is de besluitvorming door de toepassing complex?</p>
                <p>Voor meer informatie leest u de publicatie <a href="https://ecp.nl/wp-content/uploads/2018/11/Artificial-Intelligence-Impact-Assesment.pdf">Artificial Intelligence Impact Assessment</a> van ECP.</p>
            </section>

            <section class="sheet">
                <h2>Is het antwoord op één van bovenstaande vragen "ja"?</h2>
                <form method="POST" action="/aanmelden" style="margin: 1em">
                    <label><span>Naam van de toepassing</span> <input type="text" name="name"></input></label><br>
                    <label><span>Organisatie</span> <input type="text" name="organization"></input></label><br>
                    <label><span>Afdeling</span> <input type="text" name="department"></input></label><br>
                    <label><span>Omschrijving</span> <input type="text" name="description_short"></input></label><br>
                    <label><span>Type</span> <input type="text" name="type"></input></label><br>
                    <label><span>Categorie</span> <input type="text" name="category"></input></label><br>
                    <label><span>Website</span> <input type="text" name="website"></input></label><br>
                    <label><span>Status</span> <input type="text" name="status"></input></label><br>
                    <label><span>E-mailadres contactpersoon</span> <input type="email" name="contact_email"></input></label><br>
                    <button type="submit">Aanmelden</button>
                </form>
            </section>
        </div>
        {% include "footer.twig" %}
    </body>
</html>