<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="default-background">
        {% include 'nav.twig' %}
        <p style="margin: 20px"><a href="/" style="float: left">← terug naar overzicht</a></p>
        <header class="default-color" style="padding: 20px">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        </header>

        <section>
            <div class="bol">Stap 1</div>
            <h2>Bepaal de noodzaak voor het aanmelden van het algoritme</h2>
            <p>1. Wordt de AI toegepast in een nieuw (maatschappelijk) domein?</p>
            <p>2. Wordt gebruik gemaakt van een nieuwe vorm van AI-technologie?</p>
            <p>3. Heeft de AI een hoge mate van autonomie?</p>
            <p>4. Wordt de AI toegepast in een complexe omgeving?</p>
            <p>5. Wordt gebruik gemaakt van gevoelige gegevens over personen?</p>
            <p>6. Neemt de AI beslissingen die natuurlijke of rechtspersonen in aanzienlijke mate treffen dan wel rechtsgevolgen voor hen hebben?</p>
            <p>7. Is de besluitvorming door de AI complex?</p>
            <p>Voor meer informatie leest u de publicatie <a href="https://ecp.nl/wp-content/uploads/2018/11/Artificial-Intelligence-Impact-Assesment.pdf">Artificial Intelligence Impact Assessment</a> van ECP.</p>
        </section>

        <main>
            <div class="bol">Stap 2</div>
            <h2>Is het antwoord op alle bovenstaande vragen "ja"?</h2>
            <label><span>Organisatie</span> <input type="text"></input></label><br>
            <label><span>Afdeling</span> <input type="text"></input></label><br>
            <label><span>Naam</span> <input type="text"></input></label><br>
            <label><span>E-mailadres contactpersoon</span> <input type="email"></input></label><br>
            <a href="/aanpassen/1234"><button>Aanmelden</button></a>
        </main>
    </body>
</html>