<!DOCTYPE html>
<html>
    {% include "head.html" %}
    <body class="default-background">
        {% include 'nav.twig' %}
        <p style="margin: 20px"><a href="/" style="float: left">← terug naar overzicht</a></p>
        <header class="default-color" style="padding: 20px">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        </header>

        <section>
            <div class="bol">Stap 1</div>
            <h2>Bepaal de noodzaak voor het aanmelden van het algoritme</h2>
            <p>1. Wordt de toepassing ingezet in een nieuw (maatschappelijk) domein?</p>
            <p>2. Wordt gebruik gemaakt van een nieuwe vorm van AI-technologie?</p>
            <p>3. Heeft de toepassing een hoge mate van autonomie?</p>
            <p>4. Wordt de toepassing ingezet in een complexe omgeving?</p>
            <p>5. Wordt gebruik gemaakt van gevoelige gegevens over personen?</p>
            <p>6. Neemt de toepassing beslissingen die natuurlijke of rechtspersonen in aanzienlijke mate treffen dan wel rechtsgevolgen voor hen hebben?</p>
            <p>7. Is de besluitvorming door de toepassing complex?</p>
            <p>Voor meer informatie leest u de publicatie <a href="https://ecp.nl/wp-content/uploads/2018/11/Artificial-Intelligence-Impact-Assesment.pdf">Artificial Intelligence Impact Assessment</a> van ECP.</p>
        </section>

        <section>
            <div class="bol">Stap 2</div>
            <h2>Is het antwoord op één van bovenstaande vragen "ja"?</h2>
            <form method="POST" action="/aanmelden">
                <label><span>Organisatie</span> <input type="text" name="organisatie"></input></label><br>
                <label><span>Afdeling</span> <input type="text" name="afdeling"></input></label><br>
                <label><span>Naam van de toepassing</span> <input type="text" name="naam"></input></label><br>
                <label><span>E-mailadres contactpersoon</span> <input type="email" name="contact"></input></label><br>
                <button type="submit">Aanmelden</button>
            </form>
        </section>
    </body>
</html>