<!DOCTYPE html>
<html>
    {% include "head.twig" %}
    <body>
        <div class="default-background">
            {% include 'nav.twig' %}

            <p style="margin: 20px">
                <a href="/{% if token %}?token={{ token }}{% endif %}" style="float: left">← terug naar het register</a>
            </p>

            {% include "details-header.twig" with {'tab': 'acties'} %}

            <form class="sheet" method="POST" action="/acties/verwijderen/{{ id }}?token={{ token }}">

                <section>
                    <h2>TOEPASSING VERWIJDEREN</h2>
                    <p>Deze toepassing verwijderen. Let op: dit kan niet ongedaan worden gemaakt.</p>
                
                    <div style="text-align: right">
                        <button class="button" type="submit" value="delete">Toepassing verwijderen</button>
                    </div>
                </section>

            </form>
        </div>
        {% include "footer.twig" %}
    </body>
</html>
