<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="default-background">
        {% include 'nav.twig' %}
        <header class="default-color" style="padding: 20px">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        </header>
        <main>
            <div style="text-align: right">
                <a href="/aanmelden"><span class="warning-icon">+</span> Algoritme aanmelden</a>
            </div>
            <table>
                <tr class="default-color">
                    <th>Organisatie</th>
                    <th>Afdeling</th>
                    <th>Naam</th>
                    <th>Type</th>
                    <th>Herziening</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Gemeente Amsterdam</td>
                    <td>Ruimte en Economie</td>
                    <td>Parkeercontrole</td>
                    <td>Beeldherkenning</td>
                    <td><div class="warning-icon">!</div> 01-05-2021</td>
                    <td><a href="#">download .yml</a></td>
                    <td><a href="/details/1234">details →</a></td>
                </tr>
                <tr>
                    <td>Gemeente Amsterdam</td>
                    <td>Dienstverlening en Informatie, Ruimte en Economie</td>
                    <td>Public Eye</td>
                    <td>Crowd Monitoring</td>
                    <td>21-02-2022</td>
                    <td><a href="#">download .yml</a></td>
                    <td><a href="/details/1234">details →</a></td>
                </tr>
                <tr>
                    <td>Provincie Zuid-Holland</td>
                    <td>Infrastructuur</td>
                    <td>iVRI</td>
                    <td>Regelsysteem</td>
                    <td>04-08-2022</td>
                    <td><a href="#">download .yml</a></td>
                    <td><a href="/details/1234">details →</a></td>
                </tr>
            </table>
        </main>
    </body>
</html>