<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="default-background">
        {% include 'nav.twig' %}
        <p style="margin: 20px">
            <a href="/" style="float: left">← terug naar het register</a>
            <a href="/aanpassen/1234" style="float: left; margin-left: 1em">aanpassen</a>
        </p>
        <header class="default-color" style="padding: 20px">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        </header>

        <section>
            <div class="bol">Stap 1</div>
            <h2>Organisatie</h2>
            <p><em>Gemeente Amsterdam</em></p>
            <p><em>Ruimte en Economie</em></p>
        </section>
        
        <section>
            <div class="bol">Stap 2</div>
            <h2>Toepassing</h2>
            <p>Beschrijf de AI-toepassing</p>
            <h3>2.1 Beschrijf de toepassing en het doel van de toepassing</h3>
            <p><em>Om Amsterdam leefbaar en toegankelijk te houden, mag er maar een beperkt aantal auto’s in de stad parkeren. De gemeente controleert of een geparkeerde auto het recht heeft om geparkeerd te staan, dus of iemand parkeergeld heeft betaald of een parkeervergunning heeft. Om efficiënter te werken doen we die controle met scanauto’s. Daarmee controleren we momenteel meer dan 150.000 officiële parkeerplaatsen in Amsterdam.</em></p>
            <h3>2.2 Beschrijf welke AI-technologie wordt ingezet om het doel te bereiken</h3>
            <p><em>De scanauto’s zijn uitgerust met camera’s en rijden langs parkeerplaatsen in de stad. De camera’s leggen kentekens van auto’s vast en gebruiken een beeldherkenningsalgoritme om kentekens te identificeren.</em></p>
            <h3>2.3 Beschrijf welke data worden gebruikt in het kader van de toepassing</h3>
            <p><em>Het kentekennummer wordt naar het Nationaal Parkeerregister gestuurd waar gecontroleerd wordt of de auto het recht heeft om geparkeerd te staan. Als blijkt dat iemand geen parkeergeld heeft betaald, dan beoordeelt een controleur aan de hand van omgevingsfoto’s of er sprake is van een bijzondere situatie (laden of lossen, stilstaande auto’s voor een verkeerslicht). Bij twijfel bekijkt een parkeercontroleur de situatie ter plaatse. Als er geen sprake is van een bijzondere situatie, volgt een parkeerbon (‘naheffingsaanslag parkeerbelasting’).</em></p>
            <h3>2.4 Beschrijf welke actoren een rol spelen in de toepassing</h3>
            <p><em>Het verhogen van de pakkans vergroot de rechtvaardigheid ten opzichte van degenen die wel betalen of een geldige parkeervergunning hebben. Door te handhaven op de overtreding ‘stilstaan op de stoep’ wordt de overlast beperkt en de leefbaarheid vergroot voor diegenen die wel betaald of een geldige parkeervergunning hebben.</em></p>
        </section>
        
        <section>
            <div class="bol">Stap 3</div>
            <h2>Baten</h2>
            <p>Beschrijf de baten van de AI-toepassing</p>
            <h3>3.1 Wat zijn de baten voor de organisatie?</h3>
            <h3>3.2 Wat zijn de baten voor het individu?</h3>
            <h3>3.3 Wat zijn de baten voor de maatschappij als geheel?</h3>
        </section>
        
        <section>
            <div class="bol">Stap 4</div>
            <h2>Verantwoording</h2>
            <p>Is het doel en de wijze waarop het doel wordt bereikt ethisch en juridisch verantwoord?</p>
            <h3>4.1 Welke actoren zijn betrokken bij en/of worden geraakt door mijn toepassing van AI?</h3>
            <h3>4.2 Zijn deze waarden en belangen geconcretiseerd in wet- en regelgeving?</h3>
            <h3>4.3 Welke waarden en belangen spelen een rol in de context van mijn toepassing van AI?</h3>
        </section>
        
        <section>
            <div class="bol">Stap 5</div>
            <h2>Controleerbaar</h2>
            <p>Is de toepassing betrouwbaar, veilig en transparant?</p>
            <h3>5.1 Welke maatregelen zijn genomen om de betrouwbaarheid van het handelen van de AI te borgen?</h3>
            <h3>5.2 Welke maatregelen zijn genomen om de veiligheid van de AI te borgen?</h3>
            <h3>5.3 Welke maatregelen zijn genomen om de transparantie van het handelen van de AI te borgen?</h3>
        </section>
        
        <section>
            <div class="bol">Stap 6</div>
            <h2>Afweging en beoordeling</h2>
        </section>
        
        <section>
            <div class="bol">Stap 7</div>
            <h2>Vastlegging en verantwoording</h2>
        </section>
        
        <section>
            <div class="bol">Stap 8</div>
            <h2>Periodieke evaluatie</h2>
        </section>
    </body>
</html>