{% extends 'elements/base/base.twig' %}

{% block main %}
    <div class="color-bg-3">
        <div class="layout u-justify-center u-align-center u-min-height-80">
            <div class="layout-1 layout-md-1-2">
                <h2 class="text-h2 m-b4">Inloggen</h1>
                <form method="GET" action="/" class="m-b2">
                    <input type="hidden" name="token" value="12345">
                    <label class="u-display-block m-b3">
                        <span class="text-h3 u-display-block m-b2">Gebruikersnaam</span>
                        <input type="text" class="w-100 text-body u-display-block u-border-1 u-border-color-2 p-y1 p-x2 u-border-radius">
                    </label>
                    <label class="u-display-block m-b3">
                        <span class="text-h3 u-display-block m-b2">Wachtwoord</span>
                        <input type="password" class="w-100 text-body u-display-block u-border-1 u-border-color-2 p-y1 p-x2 u-border-radius">
                    </label>
                    <button class="btn">Login</button>
                </form>
                <a href="" class="text-body">wachtwoord vergeten?</a>
            </div>
        </div>
    </div>
{% endblock %}