{% extends 'elements/base/base.twig' %}

{% block main %}
    <div class="color-bg-3">
        {% include 'nav.twig' with {'disablelinks': true} %}
        <form method="GET" action="/">
            <input type="hidden" name="token" value="12345">
            <label class="text-h3">Gebruikersnaam<br>
            <input></label><br>
            <label>Wachtwoord<br>
            <input></label><br>
            <button>Inloggen</button>
        </form>
        <a href="">wachtwoord vergeten?</a>
    </div>
{% endblock %}