<header class="bg-light-blue flex space-between p4">
    <a href="/" class="flex">
      <img src="https://www.algoritmeregister.org/img/algoritmeregister-logo.svg" class="w-main-logo">
    </a>
    
    <nav class="flex align-center small-screen-disabled">
      {% if disablelinks != true %}
      <a href="/" class="text-nav mr4">home</a>

      {% if token %}
      <a  class="text-nav mr4" href="/{% if id %}details/{{ id }}{% endif %}">uitloggen</a>
      {% else %}
      <a  class="text-nav mr4" href="/login">inloggen</a>
      {% endif %}

      <a  class="text-nav mr4" href="https://www.algoritmeregister.org">over Algoritmeregister</a>

      {% endif %}
      
      <a href="https://www.github.com/Algoritmeregister">
        <img src="https://www.algoritmeregister.org/img/github-repo-link.svg" class="display-block">
      </a>
    </nav>    
</header>
{% if token %}<div class="warning-background" style="text-align: center; color: white; padding: 1em">LET OP: INGELOGD</div>{% endif %}