<nav {% if token %}class="warning-background"{% endif %}>
    {% if token %}<a href="/{% if id %}details/{{ id }}{% endif %}">uitloggen</a>&emsp;{% endif %}
    {% if not token %}<a href="/{% if id %}details/{{ id }}{% endif %}?token=12345">inloggen</a>&emsp;{% endif %}
    {% if not token %}<a href="https://www.algoritmeregister.org">over Algoritmeregister</a>&emsp;{% endif %}
</nav>