<nav {% if token %}class="warning-background"{% endif %}>
    {% if token %}<a href="/details/{{ id }}">uitloggen</a>&emsp;{% endif %}
    {% if not token %}<a href="https://www.algoritmeregister.org">over Algoritmeregister</a>&emsp;{% endif %}
</nav>