<!DOCTYPE html>
<html>
    {% include "head.html" %}
    <body class="default-background">
        {% include 'nav.twig' %}
        <p style="margin: 20px"><a href="/" style="float: left">← terug naar het register</a></p>
        <header class="default-color" style="padding: 20px">
            <h1>{{ title }}</h1>
        </header>
        <main>
            <p>Dat overheden techniek niet altijd verantwoord inzet is onlangs breed in het nieuws uitgemeten bij de toeslagenaffaire. Onder de vlag van het programma Publieke Controle op Algoritmes werkt een consortium van 12 overheden aan beleidsinstrumenten om de controle op deze systemen te vergroten. Hoe zijn wij transparant in ons handelen?</p>
            <p>Hoe communiceren wij over de inzet van algoritmes? Welke informatie is nuttig om te delen met burgers, bedrijven en andere geïnteresseerden?</p>
            <p>We werken daarom samen aan een overzicht van de algoritmische toepassingen die we in de praktijk inzetten: het Algoritmeregister. Door in deze registratie aspecten van algoritmische toepassingen op een begrijpelijke manier vast te leggen kunnen wij transparantie bieden en verantwoording af leggen. In het register kun je technische elementen terugvinden, zoals de dataverwerking of broncode, maar bijvoorbeeld ook afspraken tussen overheden en leveranciers of bijvoorbeeld een beschrijving van de werking van het algoritme.</p>
            <p><a href="https://publiekecontrole.com/">https://publiekecontrole.com/</a></p>
        </main>
    </body>
</html>