<div class="layout-overlay {{ variant }}">
	<div class="layout">

		{% for i in 1..4 %}
			<div class="layout-1-4 u-md-display-none">
				<div class="layout-overlay-bar"></div>
			</div>
		{% endfor %}

		{% for i in 1..12 %}
			<div class="layout-1-12 u-display-none u-md-display-block">
				<div class="layout-overlay-bar"></div>
			</div>
		{% endfor %}
	</div>
</div>